body {
    margin: 0;
}


.nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1e313e;
    padding: 10px;
}

.item {
    color: #efd3a2;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.section-header {
    display: flex;
    justify-content: center;
}

.heading {
    text-transform: uppercase;
    color: #1e313e;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;

}

.section-about {
    display: flex;
    justify-content: space-around;
    background-color: #1e313e;
    padding: 60px;
}

.about-us {
    align-self: center;
    padding: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.wrapper {
    display: flex;
    background-color: #1e313e;
    padding: 80px;
    color: #ffffff;
}

.reason-block {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

span {
    color: #1e313e;
    background-color: #bb8a5e;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin: 40px;
    padding: 20px;

}

.services {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 60px;
}

.pic {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.map {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 50px;
}

.footer-container {
    background-color: #1e313e;
    padding: 5px;
}

.footer {
    color: #efd3a2;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #efd3a2;
    text-decoration: none;
    font-size: 16px;
}

button {
    padding: 30px;
    margin: 10px;
    border-radius: 30px;
    background-color: #1e313e;
}

@media all and (max-width: 800px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .section-about {
        flex-wrap: wrap;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

}


